<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>765127203182-73fgter5v5m38ohr43p5ibd0f8l64les.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765127203182-73fgter5v5m38ohr43p5ibd0f8l64les</string>
	<key>API_KEY</key>
	<string>AIzaSyBhz6-S6IAlZ0poP-n7bDcFpGsibb0G5-8</string>
	<key>GCM_SENDER_ID</key>
	<string>765127203182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.virginia.cs.cs4720.Core-Skills</string>
	<key>PROJECT_ID</key>
	<string>coreskillsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>coreskillsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:765127203182:ios:82adb2846c2753b2</string>
	<key>DATABASE_URL</key>
	<string>https://coreskillsapp.firebaseio.com</string>
</dict>
</plist>